<h1>Welcome, <%=h @username %></h1>

<div id="overview-dashboard">
  <div class="overview-dashboard-part">
    <span class="overview-dashboard-part-head">Hosts</span>
    <table>
      <tr class="sensor-okay">
        <td>Okay</td>
        <td>14</td>
      </tr>
      <tr class="sensor-warn">
        <td>Warning</td>
        <td>0</td>
      </tr>
      <tr class="sensor-error">
        <td>Failure</td>
        <td>1</td>
      </tr>
    </table>
  </div>

  <div class="overview-dashboard-part">
    <span class="overview-dashboard-part-head">Services</span>
    <table>
      <tr class="sensor-okay">
        <td>Okay</td>
        <td>14</td>
      </tr>
      <tr class="sensor-warn">
        <td>Warning</td>
        <td>0</td>
      </tr>
      <tr class="sensor-error">
        <td>Failure</td>
        <td>1</td>
      </tr>
    </table>
  </div>

  <div class="overview-dashboard-part">
    <span class="overview-dashboard-part-head">Alarms (last 24h)</span>
    <table>
      <tr class="sensor-okay">
        <td>Attended</td>
        <td>52</td>
      </tr>
      <tr class="sensor-error">
        <td>Unattended</td>
        <td>1</td>
      </tr>
    </table>
  </div>
</div>

<br style="clear: both;" />
