body {
	font-family: Verdana, Sans-Serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	background-color: #2d4b73;
	background-repeat:repeat-x;
	color: #333333;
}

a {
	color: #ec6600;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px dashed #000000;
}

fieldset {
	margin-top: 7px;
	border: 1px solid #C7C7C7;
	padding-top: 7px;
}

legend {
	font-weight: bold;
}

label {
	font-weight: bold;
	font-size: 13px;
	display: block;
	margin-top: 10px;
	margin-bottom: 2px;
}

input, select, textarea {
	border: 1px solid #CCCCCC;
	color: #333333;
	padding: 4px;
	font-size: 12px;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	color: #111111;
}

h1 {
	width: 100%;
	border-bottom: 1px solid #ebab4a;
}

th {
	text-align: left;
	border-bottom: 2px dotted #ec6600;
	font-size: 12px;
	color: #111111;
}

img {
	border: 0px;
}

ul {
	list-style-type: square;
}

table {
	width: 100%;
}

dt {
	margin-bottom: 2px;
}

dd {
	margin-bottom: 2px;
}

#flash-notice {
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	margin-bottom: 10px;
	background-color: #119300;
	color: #FFFFFF;
	font-weight: bold;
}

#flash-error {
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	margin-bottom: 10px;
	background-color: #FF0000;
	color: #FFFFFF;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.rowHighlighted {
	background-color: #EEEEEE;
}

.rowNotHighlighted {
	background-color: none;
}

.formError {
	color: #FF0000;
}

.link-normal {
	color: #000000;
}

.link-not-bold {
  font-weight: normal;
}

.no-underline {
  border-bottom: 0px;
}

#loginbox {
  margin: 0px auto;
  margin-top: 45px;
  width: 510px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  background-color: #f8f8f8;
  background-image: url(/images/loginboxend.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

#loginbox label {
  font-size: 10px;
}

#loginbox input {
  font-size: 10px;
  padding: 0px;
}

#loginbox-submit {
  margin-top: 10px;
}

#loginbox-submit input {
  width: 200px;
  font-weight: bold;
}

#logintop {
  padding-bottom: 15px;
}

#loginnotice{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #AAAAAA;
}

#maintop {
	width: 100%;
	background-color: #182221;
	height: 120px;
}

#top {
	width: 960px;
	margin: 0px auto;
	background-color: #182221;
	height: 120px;
	color: #FFFFFF;
}

#navigation {
	height: 40px;
	padding-top: 60px;
}

.navlink {
	color: #FFFFFF;
	border: 0px;
}

.activenavlink {
	color: #ebab4a;
	border-bottom: 1px dotted #ebab4a;
}

.navlink:hover {
	color: #ebab4a;
}

.topbutton {
	padding-top: 20px;
	font-weight: bold;
	font-size: 12px;
	float: left;
	margin-left: 8px;
}

.admintopbutton {
	font-weight: bold;
	font-size: 12px;
	padding-top: 1px;
	float: left;
	margin-left: 8px;
}

.topbutton-sectionspacer {
	float: left;
	height: 1px;
	width: 20px;
}

#adminsubnavigation {
	padding-top: 8px;
	text-align: center;
	float: left;
}

#adminnotice {
	width: 100%;
	border-bottom: 1px dashed #FFFFFF;
	padding-bottom: 1px;
	height: 10px;
	font-size: 9px;
}

#logmsg {
	font-family: Monospace;
	color: #AAAAAA;
	position: absolute;
	right: 0px;
	top: 25px;
	padding: 3px;
	padding-right: 5px;
	padding-left: 10px;
	background-color: #323636;
	background-image: url(/images/layout/logmsgend.png);
	background-position: left;
	background-repeat: no-repeat;
}

#bigredbutton-activate {
	color: #FFFFFF;
	position: absolute;
	right: 0px;
	top: 50px;
	padding-right: 2px;
	padding-left: 3px;
	background-color: #a70000;
	background-image: url(/images/layout/emergencyend.png);
	background-position: left;
	background-repeat: no-repeat;
	font-weight: bold;
}

#bigredbutton-activate a {
	cursor: pointer;
	cursor: hand;
	color: #FFFFFF;
}

#bigredbutton {
	color: #FFFFFF;
	position: absolute;
	right: 0px;
	top: 50px;
	padding: 3px;
	padding-left: 15px;
	padding-right: 10px;
	background-color: #a70000;
	background-image: url(/images/layout/emergencyend.png);
	background-position: left;
	background-repeat: no-repeat;
}

#bigredbutton a {
	color: #FFFFFF;
	border: 0px;
}

#emergency-list {
  height: 19px;
  width: 200px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: 5px;
  font-size: 13px;
  font-weight: bold;
}

#container {
	width: 960px;
	height: 100%;
	margin: 0px auto;
}

#maincontent-top-breadcrumbs {
  width: 49%;
  float: left;
}

#maincontent-top-search {
  width: 49%;
  float: right;
}

#searchform  {
  text-align: right;
}

#searchform-title {
  padding-right: 5px;
}

#maincontent {
	margin: 0px auto;
	margin-bottom: 10px;
	width: 920px;
	padding: 20px;
	background-color: #f8f8f8;
	background-image: url(/images/layout/maincontentend.png);
	background-position: bottom;
	background-repeat: no-repeat;
}

#footer {
	width: 100%;
	margin-bottom: 30px;
	color: #AAAAAA;
	text-align: center;
}

#usermenu {
	width: 415px;
	height: 16px;
	background-color: #2d4b73;
	color: #FFFFFF;
	padding-top: 4px;
	padding-left: 35px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-image: url(/images/layout/usermenuend.png);
	background-position: left;
	background-repeat: no-repeat;
}

#usermenuwelcome {
	float: left;
	margin-right: 10px;
}

#usermenulinks {
	float: left;
}

#usermenulinks a {
	color: #FFFFFF;
	border: 0px;
	font-size: 9px;
}

#usermenudate {
	width: 100%;
	text-align: right;
	margin-right: 10px;
}

#toplogo {
	float: left;
	margin-top: 7px;
}

#footer {
	width: 100%;
}

.formdescr {
	padding-left: 15px;
	color: #555555;
}

#enablejs {
	width: 100%;
	text-align: center;
	border: 1px dotted #FF0000;
	padding: 3px;
	margin-bottom: 10px;
	font-weight: bold;
}

.pagination {
	margin-top: 20px;
}

.sensor-okay {
	background-color: #91ff74;
}

.sensor-error {
	color: #000000;
	background-image: url("../images/errorbg-blink.gif");
	background-repeat: repeat-y repeat-x;
}

.sensor-warn {
	background-color: #FBCF00;
}

.sensor-none {
  background-color: #CCCCCC;
}

.sensor-error-text {
	color: #FF0000;
}

.sensor-okay-text {
	color: #008E00;
}

.sensor-internal-error {
	color: #FFFFFF;
	background-color: #000000;
}

.sensor-internal-error  a{
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.instantstate-okay {
	background-color: #91ff74;
	margin-bottom: 5px;
	margin-top: 2px;
	padding: 5px;
	font-size: 13px;
}

.instantstate-error {
	color: #000000;
  background-image: url("../images/errorbg-blink.gif");
  background-repeat: repeat-y repeat-x;
	margin-bottom: 5px;
	margin-top: 2px;
	padding: 5px;
	font-size: 13px;
}


.instantstate-warn {
	background-color: #FBCF00;
	margin-bottom: 5px;
	margin-top: 2px;
	padding: 5px;
	font-size: 13px;
}

.instantstate-internal-error {
	background-color: #000000;
	color: #FFFFFF;
	margin-bottom: 5px;
	margin-top: 2px;
	padding: 5px;
	font-size: 13px;
}

.clear {
	clear: both;
}

.formhelp-normal {
	color: none;
}

.formhelp-highlighted {
	color: #FF0000;
}

#server-not-running {
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	color: #FF0000;
	font-weight: bold;
  font-size: 13px;
}

.no-background-content {
	background-color: #F8F8F8;
}

.new-comment-form {
 float: left;
}

.new-comment p {
  clear: both;
  padding-top: 5px;
}

.new-comment-description {
  padding-top: 80px;
  margin-left: 600px;
}

.comment {
  padding: 3px;
}

.comments {
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment-title {
  font-size: 12px;
  font-weight: bold;
}

.comment-body {
  margin-left: 25px;
  border-left: 3px solid #000000;
  padding-left: 5px;
}

.errorExplanation {
  margin-top: 10px;
}

a.with-avatar {
  position: relative;
  text-decoration: none;
}

a.with-avatar span {
  display: none;
}

a.with-avatar:hover {
  background: none; /* IE hack */
  z-index: 100;
}

a.with-avatar:hover span {
  display:block!important;
  display:inline-block;
  max-width:200px;
  position: absolute;
  top: -85px;
  left: 20px;
  background: #000000;
  text-align: center;
  border: 3px solid #000000;
}

.centered-text {
  width: 100%;
  text-align: center;
}

#demo-welcome {
  margin-top: 10px;
  padding: 10px;
  border: 2px dashed #000000;
}

/* SEARCH */
#searchform div { font-weight: bold; }
#searchform div input { font-size:11px; width:320px; padding: 2px !important; }
#suggestions{ position: absolute; width:326px; display:none; margin-left: 125px; }
.searchheading-no-results { background-color: #E4E4E4; padding-left: 5px; display: block; padding-top: 5px; padding-bottom: 5px;}
#searchresults { border-width:1px; border-color:#919191; border-style:solid; width:324px; background-color:#a0a0a0; font-size:10px; line-height:14px; text-align: left; }
#searchresults a { display:block; background-color:#e4e4e4; clear:left; height:36px; text-decoration:none; padding-left: 5px; border: 0px !important; }
#searchresults a:hover { background-color:#b7b7b7; color:#ffffff; }
#searchresults a span.searchheading { display:block; font-weight:bold; padding-top:5px; color:#191919; }
#searchresults a:hover span.searchheading { color:#ffffff; }
#searchresults a span { color:#555555; }
#searchresults a:hover span { color:#f1f1f1; }
#searchresults span.category { font-size:11px; margin:5px; display:block; color:#ffffff; }
#searchresults span.seperator { float:right; padding-right:15px; margin-right:5px;
background-image:url(../images/shortcuts_arrow.gif); background-repeat:no-repeat; background-position:right; }
#searchresults span.seperator a { background-color:transparent; display:block; margin:5px; height:auto; color:#ffffff; }
