/*
 * Log
 */

#loglist {
	margin-top: 15px;
}

#loglist table {
	width: 100%;
}

#clearlog {
	margin-top: 15px;
}

/*
 * Vitals
 */

#databasesizes dt {
	font-weight: bold;
	float: left;
}

#databasesizes dd {
	margin-left: 200px;
}

#nodes {
  margin-top: 5px;
}

.node {
  margin-top: 5px;
  font-family: monospace;
}

.node h2 {
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.process-head {
  font-size: 14px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.process-head-okay {
  color: #0ACA00;
}

.process-head-error {
  color: #FF0000;
}

.process-details {
  width: 50%;
  text-align: center;
  margin: 0px auto;
}

.process-details-title {
  font-weight: bold;
}

/*
 * Setup
 */

#setup {
	margin-top: 20px;
}

/*
 * Hosts
 */

.hosts-list {
  margin-top: 5px;
}

.hosts-list-column-name {
  width: 350px;
  font-weight: bold;
}

#add-host dl {
	padding: 0px;
	margin: 0px;
}

#add-host dt {
	float: left;
}

#add-host dd {
	padding-left: 90px;
}

/*
 * Notification groups
 */

#notigroupdetails{
	margin-top: 15px;
}

#notigroupdetails a {
	border-bottom: 0px;
}

#new-notigroup {
	margin-top: 15px;
}

#new-notigroup dt {
	float: left;
	font-weight: bold;
}

#new-notigroup dd {
	padding-left: 110px;
}

#new-notireceiver {
	margin-top: 25px;
}

#new-notireceiver dt {
	float: left;
	font-weight: bold;
}

#new-notireceiver dd {
	padding-left: 70px;
}

#notigroup-delete {
	margin-top: 15px;
}

/*
 * Host groups
 */

#new-hostgroup {
	margin-top: 15px;
}

/*
 * Services
 */

#service-new {
	margin-top: 5px;
}

#service-new-form {
	float: left;
	height: 100%;
}

#service-new-help {
	margin-left: 350px;
	border-left: 1px dotted #444444;
	padding-left: 10px;
}

#service-new-receivers {
	margin-top: 25px;
	margin-left: 350px;
	border-left: 1px dotted #444444;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#service-new-receivers-list {
	margin-top: 10px;
}

#service-new-help dt {
	float: left;
	font-weight: bold;
}

#service-new-help dd {
	margin-left: 140px;
}

.service-group-headline {
  margin-top: 10px;
}

#service {
	margin-top: 10px;
}

#service dt {
	font-weight: bold;
	float: left;
}

#service dd {
	padding-left: 60px;
}

#service-delete {
	margin-top: 20px;
}

#service-graph-response {
  height: 230px;
  width: 100%;
	margin-top: 15px;
  text-align: center;
}

#service-graph-response-loading {
  text-align: center;
  padding-top: 55px;
  color: #BBBBBB;
}

/*
 * Blacklist
 */

#blacklist a {
	border-bottom: 0px;
}

/*
 * Alarms
 */

#alarms-service-alarms {
	margin-top: 15px;
}

#alarms-alarmdetails dt {
	float: left;
	font-weight: bold;
}

#alarms-alarmdetails dd {
	padding-left: 40px;
}

#alarms-attendalarm {
	margin-top: 15px;
}

#alarms-service-filters-trigger {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
}

#alarms-service-filters dt {
  float: left;
  font-weight: bold;
  padding-top: 5px;
}

#alarms-service-filters dd {
  padding-left: 60px;
}

/*
 * General Settings
 */

#settings-general {
	margin-top: 5px;
}

#settings-general-form {
	float: left;
	height: 100%;
}

#settings-general-help {
	margin-left: 440px;
	padding-left: 10px;
	border-left: 1px dotted #444444;
}
 
#settings-general-help dt {
	float: left;
	font-weight: bold;
}

#settings-general-help dd {
	margin-left: 160px;
}

/*
 * Users
 */

#user-list-table {
  margin-top: 15px;
  margin-bottom: 10px;
}

#user-new {
  margin-top: 5px;
}

#user-new-form {
  float: left;
}

#user-new-help {
  border-left: 1px dotted #444444;
  margin-left: 350px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#user-new-help dt {
	float: left;
	font-weight: bold;
}

#user-new-help dd {
	margin-left: 130px;
}

#user-permissions-table {
  margin-top: 15px;
}

/*
 * Clickatell SMS API settings
 */

#settings-mobilec {
  margin-top: 5px;
}

#settings-mobilec-form {
  float: left;
}

#settings-mobilec-help {
  border-left: 1px dotted #444444;
  margin-left: 350px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#settings-mobilec-help dt {
	float: left;
	font-weight: bold;
}

#settings-mobilec-help dd {
	margin-left: 130px;
}

/*
 * XMPP/Jabber settings
 */

#settings-xmpp {
  margin-top: 5px;
}

#settings-xmpp-form {
  float: left;
}

#settings-xmpp-help {
  border-left: 1px dotted #444444;
  margin-left: 350px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#settings-xmpp-help dt {
	float: left;
	font-weight: bold;
}

#settings-xmpp-help dd {
	margin-left: 130px;
}

/*
 * Email settings
 */

#settings-email {
  margin-top: 5px;
}

#settings-email-form {
  float: left;
}

#settings-email-help {
  border-left: 1px dotted #444444;
  margin-left: 350px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#settings-email-help dt {
	float: left;
	font-weight: bold;
}

#settings-email-help dd {
	margin-left: 130px;
}

/*
 * Service groups
 */

#new-servicegroup {
	margin-top: 15px;
}

/*
 * ScopePort Nodes
 */

#nodes-list {
  margin-top: 10px;
}

#nodes-master-password {
  margin-top: 15px;
}

#nodes-new {
  margin-top: 15px;
}

#nodes-new h1 {
  margin-bottom: 5px;
}

#nodes-new label {
  display: inline;
  margin-right: 3px;
}

#nodes-new input {
  margin-right: 8px;
  width: 228px;
}

#nodes-new-commport {
  width: 40px !important;
}

#nodes-new-submit {
  width: 80px !important;
}

#nodes-destroy {
  margin-top: 15px;
}

#nodes-destroy form {
  margin-top: 5px;
}

#nodes-edit {
  margin-top: 10px;
}

/*
 * Notification method debugging
 */

.conversations-conversations {
  margin-top: 15px;
}

.conversations-conversation-title {
  font-weight: bold;
}

.conversations-conversation-messages {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.conversations-conversation-message-sent {
  color: #000000;
  background-color: #ffb5b5;
  padding-left: 10px;
}

.conversations-conversation-message-received {
  color: #000000;
  background-color: #c1ffb5;
  padding-left: 15px;
}

#conversations-clear {
  margin-top: 15px;
}

/*
 * Emergencies
 */

#emergency-new-receivers {
  margin-top: 10px;
  margin-bottom: 20px;
}

#emergencies-list {
  margin-top: 15px;
}

#emergency-description {
  margin-top: 10px;
}

.emergency-section h2 {
  font-size: 12px;
}

.emergency-section p {
  margin: 0px;
  margin-bottom: 2px;
}

#emergency-chat {
  margin-top: 10px;
}

#emergency-chat-title {
  float: left;
}

#emergency-chat-top {
  width: 100%;
  text-align: right;
  padding-right: 5px;
}

#emergency-chat-list {
  width: 905px;
  height: 150px;
  overflow: auto;
  border-left: 1px dotted #000000;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  list-style-type: none;
}

#emergency-chat-message-field {
  width: 849px;
}

#emergency-chat-submit-field {
  width: 50px;
}

.emergency-chat-message-date {
  color: #BBBBBB;
}

.emergency-chat-message-username {
  font-weight: bold;
}

.emergency-chat-message-message {
  font-style: italic;
}

#emergency-close {
  margin-top: 15px;
}

#emergency-comments label {
  font-size: 12px;
}

.emergency-comment-body {
  margin-top: 10px;
}

#emergency-manually-send {
  margin-top: 10px;
}

#emergency-manually-send-form {
  margin-top: 10px;
}

#emergency-manually-send-left {
  width: 40%;
  float: left;
}

#emergency-manually-send-right {
  width: 50%;
  float: right;
}
