/*
 * Log
 */

#loglist {
	margin-top: 15px;
}

#loglist table {
	width: 100%;
}

#clearlog {
	margin-top: 15px;
}

/*
 * Vitals
 */

#databasesizes dt {
	font-weight: bold;
	float: left;
}

#databasesizes dd {
	margin-left: 200px;
}

#processes {
  margin-top: 15px;
}

.process {
  margin-bottom: 10px;
  text-align: center;
  font-family: Monospace;
  font-size: 12px;
}

.process-running {
  color: #008E00;
}

.process-not-running {
  color: #FF0000;
}

.mainprocess-head {
  font-size: 18px;
  font-weight: bold;
}

.client-handler-head {
  font-size: 15px;
}

/*
 * Setup
 */

#setup {
	margin-top: 20px;
}

/*
 * Hosts
 */

#add-host dl {
	padding: 0px;
	margin: 0px;
}

#add-host dt {
	float: left;
}

#add-host dd {
	padding-left: 90px;
}

/*
 * Notification groups
 */

#notigroupdetails{
	margin-top: 15px;
}

#notigroupdetails a {
	border-bottom: 0px;
}

#new-notigroup {
	margin-top: 15px;
}

#new-notigroup dt {
	float: left;
	font-weight: bold;
}

#new-notigroup dd {
	padding-left: 110px;
}

#new-notireceiver {
	margin-top: 25px;
}

#new-notireceiver dt {
	float: left;
	font-weight: bold;
}

#new-notireceiver dd {
	padding-left: 70px;
}

#notigroup-delete {
	margin-top: 15px;
}

/*
 * Host groups
 */

#new-hostgroup {
	margin-top: 15px;
}

/*
 * Services
 */

#service-new {
	margin-top: 5px;
}

#service-new-form {
	float: left;
	height: 100%;
}

#service-new-help {
	margin-left: 350px;
	border-left: 1px dotted #444444;
	padding-left: 10px;
}

#service-new-receivers {
	margin-top: 25px;
	margin-left: 350px;
	border-left: 1px dotted #444444;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#service-new-receivers-list {
	margin-top: 10px;
}

#service-new-help dt {
	float: left;
	font-weight: bold;
}

#service-new-help dd {
	margin-left: 140px;
}

#services {
	margin-top: 20px;
}

#service {
	margin-top: 10px;
}

#service dt {
	font-weight: bold;
	float: left;
}

#service dd {
	padding-left: 60px;
}

#service-delete {
	margin-top: 20px;
}

#service-graph-response {
	margin-top: 15px;
	padding: 0px auto;
}

/*
 * Blacklist
 */

#blacklist a {
	border-bottom: 0px;
}

/*
 * Alarms
 */

#alarms-service-alarms {
	margin-top: 15px;
}

#alarms-alarmdetails dt {
	float: left;
	font-weight: bold;
}

#alarms-alarmdetails dd {
	padding-left: 25px;
}

#alarms-attendalarm {
	margin-top: 15px;
}

/*
 * General Settings
 */

#settings-general {
	margin-top: 5px;
}

#settings-general-form {
	float: left;
	height: 100%;
}

#settings-general-help {
	margin-left: 440px;
	padding-left: 10px;
	border-left: 1px dotted #444444;
}
 
#settings-general-help dt {
	float: left;
	font-weight: bold;
}

#settings-general-help dd {
	margin-left: 160px;
}

/*
 * Users
 */

#user-new {
  margin-top: 5px;
}

#user-new-form {
  float: left;
}

#user-new-help {
  border-left: 1px dotted #444444;
  margin-left: 350px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#user-new-help dt {
	float: left;
	font-weight: bold;
}

#user-new-help dd {
	margin-left: 130px;
}

/*
 * Clickatell SMS API settings
 */

#settings-mobilec {
  margin-top: 5px;
}

#settings-mobilec-form {
  float: left;
}

#settings-mobilec-help {
  border-left: 1px dotted #444444;
  margin-left: 350px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#settings-mobilec-help dt {
	float: left;
	font-weight: bold;
}

#settings-mobilec-help dd {
	margin-left: 130px;
}

/*
 * XMPP/Jabber settings
 */

#settings-xmpp {
  margin-top: 5px;
}

#settings-xmpp-form {
  float: left;
}

#settings-xmpp-help {
  border-left: 1px dotted #444444;
  margin-left: 350px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#settings-xmpp-help dt {
	float: left;
	font-weight: bold;
}

#settings-xmpp-help dd {
	margin-left: 130px;
}

/*
 * Email settings
 */

#settings-email {
  margin-top: 5px;
}

#settings-email-form {
  float: left;
}

#settings-email-help {
  border-left: 1px dotted #444444;
  margin-left: 350px;
  padding-left: 10px;
  padding-bottom: 2px;
}

#settings-email-help dt {
	float: left;
	font-weight: bold;
}

#settings-email-help dd {
	margin-left: 130px;
}
